.card-title{
	margin-left: 20px;
	margin-bottom: 30px;
}
.detail-description{
	margin-top:-10px;
}
.list-view-pf-view {
	margin-top: 0;
}
.m-l{
	margin-left: 20px;
}
.activity-item {
	padding-left: 60px;
}
.activity-item ul{
	list-style: none;
}
.activity-item h3 .fa{
	margin-left: -30px;
	margin-right: 5px;
	font-size: 20px;
}
.btn-logout{
	margin-left: 40px;
	margin-bottom: 20px;
	margin-top: 5px;
}
.list-view-pf .current-color{
	font-weight: bold;
	color: #4F9207!important;
}

/*------applications-------*/
.card-description{
	margin-left: 20px;
	margin-top: -20px;
	margin-bottom: 30px;
}

.list-group-item-text .app-info{
	list-style: none;
	padding: 0;
}

.list-group-item-text .app-info li{
	display: inline-block;
	min-width: 160px;
	margin-top: 10px;
}
.divide-line{
	width: 100%;
	height: 1px;
	background-color:#ededed;
	margin-bottom: 20px;
}
.app-form .col-md-6{
	line-height: 23px;
}
.remove-notice{
	color: #666;
	margin-top: 5px;
}

/*------Authenticator-------*/
.m-l-small{
	margin-left: 8px;
}
.list-authenticator{
	margin:0 0 30px 0;
}
.list-authenticator-item{
	border-color:#ededed;
	border-left-color:#fff;
	border-right-color:#fff;
	border-style:solid;
	border-width:1px;
	border-top:none;
}
.list-pf-icon-large{
	font-size:1.8em;
	height:20px;
	line-height:30px;
	width:10px;
}
.breadcrumb{
	padding-left: 20;
}
.card-authenticator-body{
	margin-top: 20px;
}
.card-container{
	display: flex;
	justify-content:center;
	margin-left: 10px;
	flex-direction: column;
}
.card-container > div {
	 text-align: center;
}
@media screen and (max-width: 768px){
	div.content-desktop{
		display: none;
	}
	.card-pf {
		background: #fff;
		border-top: 2px solid transparent;
		box-shadow: 0 1px 1px rgba(3,3,3,.175);
		margin: 0 -50px 20px;
		padding: 0 20px;
	}
	.card-title{
		margin-left: 0;
	}
}
@media screen and (min-width: 769px) {
	div.content-mobile{
		display: none;
	}
}
.key-group{
	position: relative;
	display: table;
	border-collapse: separate;
}
.key-box{
	height: auto;
	border-width: 1px;
	background-color: #fdf2e5;
	border: 1px solid #ccc;
	border-radius: 1px;
	text-align: center;
	padding: 3px;
	vertical-align: top;
	display: table-cell;
}
.key-group-btn{
	position: relative;
	font-size: 0;
	white-space: nowrap;
	width: 1%;
	vertical-align: top;
	display: table-cell;
	height: 28px;
}
.link-right{
	text-align: right;
}
