.card-title{
	margin-left: 20px;
	margin-bottom: 30px;
}
.detail-description{
	margin-top:-10px;
}
.list-view-pf-view {
	margin-top: 0;
}
.m-l{
	margin-left: 20px;
}
.activity-item {
	padding-left: 60px;
}
.activity-item ul{
	list-style: none;
}
.activity-item h3 .fa{
	margin-left: -30px;
	margin-right: 5px;
	font-size: 20px;
}
.btn-logout{
	margin-left: 40px;
	margin-bottom: 20px;
	margin-top: 5px;
}
.list-view-pf .current-color{
	font-weight: bold;
	color: #4F9207!important;
}

/*------applications-------*/
.card-description{
	margin-left: 20px;
	margin-top: -20px;
	margin-bottom: 30px;
}

.list-group-item-text .app-info{
	list-style: none;
	padding: 0;
}

.list-group-item-text .app-info li{
	display: inline-block;
	min-width: 160px;
	margin-top: 10px;
}
.divide-line{
	width: 100%;
	height: 1px;
	background-color:#ededed;
	margin-bottom: 20px;
}
.app-form .col-md-6{
	line-height: 23px;
}
.remove-notice{
	color: #666;
	margin-top: 5px;
}
/*----------linked-aacount-----------*/
.m-b-l{
	margin-bottom: 40px;
}
.linked-account-list .list-view-pf-description{
	width: 50%
}
.linked-account-list .list-view-pf-additional-info{
	width: 50%;
}
.linked-account-list.list-view-pf .list-group-item-heading {
    -ms-flex: 1 0 calc(50% - 20px);
    flex: 1 0 calc(45% - 20px);
}
.linked-account-list.list-view-pf .list-group-item-text {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    float: left;
    margin: 0 40px 0 0;
    width: calc(55% - 40px);
}
.linked-account-list .fa-user{
	margin-right: 5px;
}

@media screen and (max-width: 768px) {
	.linked-account-list .list-view-pf-description{
	width: 100%
	}
    .linked-account-list .list-view-pf-additional-info{
	margin-top: 40px;
	width: 100%;
	}
	.m-b-l {
	    margin-bottom: 20px;
	}

	.container-cards-pf{
		padding: 0;
		margin: 0;
	}

	.cards-pf .row-cards-pf {
    padding: 0 0px;
	}
	.card-title{
		font-size: 18px;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 50px;
	}
	.card-pf{
		margin: 0 -10px 12px;
	}
	.detail-description{
		margin-bottom: 20px;
	}
	.list-view-pf .list-group-item{
		padding: 0;
	}
}